:root{
    -green:#00FF00;
    -white: #ffffff;
    -black: #000000;

}

*{
    color: var(-fontColor);
    font-family: Helvetica, sans-serif;
}

body{
    /* background-image: url("img/pool-homepage.jpg"); */
    /* background-repeat: no-repeat;  */
    background: var(-bg);
    

}

ul{
    font-family: Helvetica, sans-serif;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

.light-theme{
    /* -bg:var(-green);
    -fontColor: var(-black); */
}

.dark-theme{
    /* -bg:var(-black);
    -fontColor: var(-green); */
}